################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Media
/obj/Debug/3DPropertiesAPI
/Properties
/3DPropertiesAPI.csproj