################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Properties
/3DPropertiesAPI.csproj
/Media
bin
obj
/3DPropertiesAPI.csproj.user
*.exe
*.pdb
*.manifest
*.cache